<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PointAndControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PointAndControl.Properties.Settings>
      <setting name="PWHost" serializeAs="String">
        <value>cloud.teco.edu</value>
      </setting>
      <setting name="PWPort" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PWPath" serializeAs="String">
        <value>plugwise</value>
      </setting>
      <setting name="RoomWidth" serializeAs="String">
        <value>6.35</value>
      </setting>
      <setting name="RoomHeight" serializeAs="String">
        <value>2.7</value>
      </setting>
      <setting name="RoomDepth" serializeAs="String">
        <value>5.58</value>
      </setting>
      <setting name="KinectPosX" serializeAs="String">
        <value>3.95</value>
      </setting>
      <setting name="KinectPosY" serializeAs="String">
        <value>1.8</value>
      </setting>
      <setting name="KinectPosZ" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="KinectTiltAngle" serializeAs="String">
        <value>-8</value>
      </setting>
      <setting name="KinectHorizontalAngle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KodiPath" serializeAs="String">
        <value>C:\\Program Files (x86)\\Kodi\\Kodi.exe</value>
      </setting>
    </PointAndControl.Properties.Settings>
  </userSettings>
</configuration>