<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.545" targetFramework="net45" />
  <package id="HelixToolkit.Wpf" version="2015.1.545" targetFramework="net45" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net45" />
  <package id="numl" version="0.8.22.0" targetFramework="net45" />
</packages>